@model BookLibrary.Web.ViewModel.BookViewModel
@{
    ViewBag.Title = "Details";
}

<h2>@ViewBag.Title</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(i => i.Title)
        </dt>
        <dd>
            @Html.DisplayFor(i => i.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(i => i.Isbn)
        </dt>
        <dd>
            @Html.DisplayFor(i => i.Isbn)
        </dd>

        <dt>
            @Html.DisplayNameFor(i => i.Author)
        </dt>
        <dd>
            @Html.DisplayFor(i => i.Author)
        </dd>

        <dt>
            @Html.DisplayNameFor(i => i.AllCategories)
        </dt>
        
            @foreach (var category in Model.AllCategories)
            {
                <dd>
                    @category.Text
                </dd>
            }
        
    </dl>
</div>
